<!DOCTYPE html>
<html>
<title>About Shinobu</title>
{{template "header.html"}}
<body>
{{template "navbar.html"}}
<div class="w3-content" style="max-width:900px;margin-top:75px">
 <p>
 Shinobu LLC is a small, but very diverse, Alaska-based company specializing in cloud security, software engineering, 3d animation, and web development. For advertising opportunities, partnerships, or business inquiries, please feel free to <a href="/contact">Contact Us</a>.
 </p>
</div>
</body>
{{template "footer.html"}}
